/*ID*/
#facebook{
	transition: all 1s;
}
#facebook i{
	color: #3b5998;
	transition: all 0.5s;
}
#facebook:hover{
	background-color: #3b5998;
}
#facebook:hover >i{
	color: #FFF;
	transform: scale(1.2);
}
#github{
	transition: all 1s;
}
#github i{
	color: #333;
	transition: all 0.5s;
}
#github:hover{
	background-color: #333;
}
#github:hover >i{
	color: #FFF;
	transform: scale(1.2);
}
#linkedin{
	transition: all 1s;
}
#linkedin i{
	color: #0077B5;
	transition: all 0.5s;
}
#linkedin:hover{
	background-color:#0077B5;
}
#linkedin:hover >i{
	color: #FFF;
	transform: scale(1.2);
}
#twitter{
	transition: all 1s;
}
#twitter i{
	color: #1da1f2;
	transition: all 0.5s;
}
#twitter:hover{
	background-color: #1da1f2;
}
#twitter:hover >i{
	color: #FFF;
	transform: scale(1.2);
}
/*Classes*/
.sociales{
	text-align: center;
	margin-top: 0.5em;
}
.sociales_item{
	display: inline-block;
	vertical-align: top;
	text-decoration: none;
	padding: 0.2em 0.3em;
	margin-right: -4px;
	font-size: 40px;
	border-radius: 100px;
	cursor: pointer;
}
