<template id="flat-button">
	<link rel="stylesheet" href="./components/buttons/buttons.css">
	
	<button class="flat fixed btn material-icons">
		+
		<ul class="flat-menu fixed hide">
			<li>
				<a></a>
			</li>
		</ul>
	</button>

</template>

<template id="normal-button">
	<link rel="stylesheet" href="./components/buttons/buttons.css">
	
	<button class="btn material-icons">
	</button>
</template>

<template id="link-button">
	<link rel="stylesheet" href="./components/buttons/buttons.css">
	
	<a class="btn material-icons">
	</a>
</template>