.btn{
	
	border: none;
	padding:0.5em;
	margin:0.2em;
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
	background-color: transparent;
	transition: all 300ms ease-in-out;
	cursor:pointer;

}

.btn:hover > .flat-menu{
	display: block;
	opacity: 1;
}	

.btn.primary:hover{
	opacity: 0.8;
}

.btn.primary{
	background-color: #2396f3;
	color: #FFFFFF;
}

.fab{
	right: 0.5em;
	padding: 0.5em 0.7em;
	font-size: 2.5em;
	bottom: 0.5em;
}

.flat{
    
    font-family: 'Roboto';
    border-radius: 50%;
    line-height: 1;
    border: none;
    color: #FFFFFF	;
    background: #2396f3;
    box-shadow: 1px 1px 10px #000000AA;
    cursor: pointer;

}
.flat-menu{
	right: 1em;
    bottom: 1.6em;
}

.flat-menu a {
	text-decoration: none;
    font-size: 0.6em;
    margin-bottom: 0.15em;
    display: block;
    width: 40px;
    height: 40px;
    line-height: 1.5;
}

.flat-menu li{
	list-style: none;
}

.fixed{
	position: fixed;
    z-index: 99999999;

}

.hide{
	display: none;
	opacity: 0;
    transition: all 1s;
}