<template id="header">
	<link rel="stylesheet" href="./components/headers/headers.css">
	<header>
		<h1 id="title"></h1>
		<p id="content"></p>
		<app-avatar image='./public/img/user.jpg'></app-avatar>
	</header>
</template>

<template id="nav">
	<link rel="stylesheet" href="./components/headers/headers.css">
	<nav>
		<img src="./public/img/angular.svg" alt="" class="head-img">
		<h1 class="head-title">Carlos Villa | Bussiness Site</h1>
		<ul>
			<li repeat='l in nav.links'><a href="l.link">l.title</a></li>
		</ul>
	</nav>
</template>