<template id="avatar">
	<style type="text/css">
		:host{
						
		}
		img{
			
			width: 200px;
			height: 200px;
			border-radius: 50%;
			border: 6px solid #FFF;
			margin: 250px calc(50% - 97px);
			image-rendering: optimizeQuality;
		}
		@media screen and (max-width: 580px) {
			img{
				width: 150px;
				height: 150px;
				border: 4px solid #FFF;
				margin: 100px calc(50% - 71px);
			}
		}
		@media screen and (min-width: 581px) and (max-width: 940px) {
			img{
				margin: 220px calc(50% - 97px);
			}
		}
	</style>
	<img src="">
</template>