app-root:host{

	width: 100%;
	height: 100%;
	overflow-x: hidden;
	font-family: 'Roboto',Arial;
	font-weight: lighter;
}

app-navigation{
	width: 100%;
}

app-content{
	position: relative;
	top:4em;
}

app-preload:host{
	width: 100%;
	height: 100%;
}

#percent{
	color: #FFFFFF;
    margin: 0.5em auto;
    
}
#preload{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.95);
	position: fixed;
	z-index: 9999999999999;
	text-align: center;
}

.preloader {
	width: 60px;
	height: 60px;
	/*border: 2px solid #cccccc;*/
	border-top: 2px solid #2396f3;
	border-radius: 50%;
	animation-name: loop;
	animation-duration: 0.7s;
	animation-iteration-count: infinite;
	animation-timing-function: cubic-bezier(.65,.05,.36,1);
	margin: 20% auto 0.5em auto;

}

@media screen and (max-width: 480px) {
	.preloader{
		margin: 50% auto;
	}
}

@keyframes loop {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}