<section class="background-white">
	<span class="span-title">Simple Fab Button</span>
	<button class="fab-button">+</button>
	<button class="fab-button info">+</button>
	<button class="fab-button warning">+</button>
	<button class="fab-button error">+</button>
	<button class="fab-button disabled" disabled>+</button>
	<textarea class="code__editor">
		<button class="fab-button">+</button>
		<button class="fab-button info">+</button>
		<button class="fab-button warning">+</button>
		<button class="fab-button error">+</button>
		<button class="fab-button disabled" disabled>+</button>
	</textarea>
	<div class="target-border"></div>
	<span class="span-title">Ripple Fab Button</span>
	<button class="fab-button replay-btn">+</button>
	<button class="fab-button replay-btn info">+</button>
	<button class="fab-button replay-btn warning">+</button>
	<button class="fab-button replay-btn error">+</button>
	<button class="fab-button replay-btn disabled" disabled>+</button>
	<textarea class="code__editor">
		<button class="fab-button replay-btn">+</button>
		<button class="fab-button replay-btn info">+</button>
		<button class="fab-button replay-btn warning">+</button>
		<button class="fab-button replay-btn error">+</button>
		<button class="fab-button replay-btn disabled" disabled>+</button>
	</textarea>
	<div class="target-border"></div>
	<span class="span-title">Simple Fab Button Mini</span>
	<button class="fab-button--mini">+</button>
	<button class="fab-button--mini info">+</button>
	<button class="fab-button--mini warning">+</button>
	<button class="fab-button--mini error">+</button>
	<button class="fab-button--mini disabled" disabled>+</button>
	<textarea class="code__editor">
		<button class="fab-button--mini">+</button>
		<button class="fab-button--mini info">+</button>
		<button class="fab-button--mini warning">+</button>
		<button class="fab-button--mini error">+</button>
		<button class="fab-button--mini disabled" disabled>+</button>
	</textarea>
	<div class="target-border"></div>
	<span class="span-title">Ripple Fab Button Mini</span>
	<button class="fab-button--mini replay-btn">+</button>
	<button class="fab-button--mini replay-btn info">+</button>
	<button class="fab-button--mini replay-btn warning">+</button>
	<button class="fab-button--mini replay-btn error">+</button>
	<button class="fab-button--mini replay-btn disabled" disabled>+</button>
	<textarea class="code__editor">
		<button class="fab-button--mini replay-btn">+</button>
		<button class="fab-button--mini replay-btn info">+</button>
		<button class="fab-button--mini replay-btn warning">+</button>
		<button class="fab-button--mini replay-btn error">+</button>
		<button class="fab-button--mini replay-btn disabled" disabled>+</button>
	</textarea>
</section>