<header class="header_demo">
    <nav>
        <div class="title_demo">
            <img class="avatar" src="" alt="Image" />
            <h1>Title</h1>
        </div>
        <div class="sociales">
            <a href="" class="sociales_item" id="github" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
            <a href="" id="linkedin" class="sociales_item" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            <a href="" id="twitter" class="sociales_item" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a href="" id="facebook" class="sociales_item" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
        </div>
        <div class="navigation_demo">
            <div class="expandable-container">
                <div class="expandable-title replay-btn">List 0</div>
                <div class="expandable-content"></div>
            </div>
            <div class="expandable-container">
                <div class="expandable-title replay-btn">List with submenu</div>
                <div class="expandable-content">
                    <ul class="list">
                        <li class="list-item replay-btn link-navigation" data-response="'container to show content of response'" data-href="'url of view to load">List 0</li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div class="searcher_container">
        <button class="btn-fab--mini btn-colored expandable-btn replay-btn search__icon" for="searcher_test" data-expandable="searcher_test"><i class="fa fa-search" aria-hidden="true"></i>
        </button>
        <label for="searcher_test" class="label__text hide">Buscar</label>
        <input type="search" class="input_text searcher" id="searcher_test">
    </div>
</header>
<main class="grid-layout main_demo">
</main>
