<section class="grid-layout grid_section">
    <span class="span-title">Grids System</span>
    <div class="col-12 col_test"> 12 Col</div>
    <div class="col-1 col_test"> 1 Col</div>
    <div class="col-1 col_test"> 1 Col</div>
    <div class="col-1 col_test"> 1 Col</div>
    <div class="col-1 col_test"> 1 Col</div>
    <div class="col-1 col_test"> 1 Col</div>
    <div class="col-1 col_test"> 1 Col</div>
    <div class="col-1 col_test"> 1 Col</div>
    <div class="col-1 col_test"> 1 Col</div>
    <div class="col-1 col_test"> 1 Col</div>
    <div class="col-1 col_test"> 1 Col</div>
    <div class="col-1 col_test"> 1 Col</div>
    <div class="col-1 col_test"> 1 Col</div>
    <div class="col-2 col_test"> 2 Col</div>
    <div class="col-2 col_test"> 2 Col</div>
    <div class="col-2 col_test"> 2 Col</div>
    <div class="col-2 col_test"> 2 Col</div>
    <div class="col-2 col_test"> 2 Col</div>
    <div class="col-2 col_test"> 2 Col</div>
    <div class="col-3 col_test"> 3 Col</div>
    <div class="col-3 col_test"> 3 Col</div>
    <div class="col-3 col_test"> 3 Col</div>
    <div class="col-3 col_test"> 3 Col</div>
    <div class="col-4 col_test"> 4 Col</div>
    <div class="col-4 col_test"> 4 Col</div>
    <div class="col-4 col_test"> 4 Col</div>
    <div class="col-5 col_test"> 5 Col</div>
    <div class="col-5 col_test"> 5 Col</div>
    <div class="col-2 col_test"> 2 Col</div>
    <div class="col-6 col_test"> 6 Col</div>
    <div class="col-6 col_test"> 6 Col</div>
    <div class="col-7 col_test"> 7 Col</div>
    <div class="col-5 col_test"> 5 Col</div>
    <div class="col-8 col_test"> 8 Col</div>
    <div class="col-4 col_test"> 4 Col</div>
    <div class="col-9 col_test"> 9 Col</div>
    <div class="col-3 col_test"> 3 Col</div>
    <div class="col-10 col_test"> 10 Col</div>
    <div class="col-2 col_test"> 2 Col</div>
    <div class="col-11 col_test"> 11 Col</div>
    <div class="col-1 col_test"> 1 Col</div>
    <div class="col-12 col_test"> 12 Col</div>
    <div class="target-border"></div>
    <textarea class="code__editor">
        <div class="col-12 col_test"> 12 Col</div>
        <div class="col-1 col_test"> 1 Col</div>
        <div class="col-1 col_test"> 1 Col</div>
        <div class="col-1 col_test"> 1 Col</div>
        <div class="col-1 col_test"> 1 Col</div>
        <div class="col-1 col_test"> 1 Col</div>
        <div class="col-1 col_test"> 1 Col</div>
        <div class="col-1 col_test"> 1 Col</div>
        <div class="col-1 col_test"> 1 Col</div>
        <div class="col-1 col_test"> 1 Col</div>
        <div class="col-1 col_test"> 1 Col</div>
        <div class="col-1 col_test"> 1 Col</div>
        <div class="col-1 col_test"> 1 Col</div>
        <div class="col-2 col_test"> 2 Col</div>
        <div class="col-2 col_test"> 2 Col</div>
        <div class="col-2 col_test"> 2 Col</div>
        <div class="col-2 col_test"> 2 Col</div>
        <div class="col-2 col_test"> 2 Col</div>
        <div class="col-2 col_test"> 2 Col</div>
        <div class="col-3 col_test"> 3 Col</div>
        <div class="col-3 col_test"> 3 Col</div>
        <div class="col-3 col_test"> 3 Col</div>
        <div class="col-3 col_test"> 3 Col</div>
        <div class="col-4 col_test"> 4 Col</div>
        <div class="col-4 col_test"> 4 Col</div>
        <div class="col-4 col_test"> 4 Col</div>
        <div class="col-5 col_test"> 5 Col</div>
        <div class="col-5 col_test"> 5 Col</div>
        <div class="col-2 col_test"> 2 Col</div>
        <div class="col-6 col_test"> 6 Col</div>
        <div class="col-6 col_test"> 6 Col</div>
        <div class="col-7 col_test"> 7 Col</div>
        <div class="col-5 col_test"> 5 Col</div>
        <div class="col-8 col_test"> 8 Col</div>
        <div class="col-4 col_test"> 4 Col</div>
        <div class="col-9 col_test"> 9 Col</div>
        <div class="col-3 col_test"> 3 Col</div>
        <div class="col-10 col_test"> 10 Col</div>
        <div class="col-2 col_test"> 2 Col</div>
        <div class="col-11 col_test"> 11 Col</div>
        <div class="col-1 col_test"> 1 Col</div>
        <div class="col-12 col_test"> 12 Col</div>
    </textarea>
    <div class="target-border"></div>
</section>
