<section class="background-white">
    <span class="span-title">Big Image Target</span>
    <div class="target-big image-card" id="test_target">
        <div class="target-header" data-background="views/assets/img/HTML5.jpg">
            <span class="target-title">Target Example</span>
        </div>
        <div class="target-content-image">
            This site is in building
            <div class="preloader"></div>
        </div>
        <div class="target-border"></div>
        <div class="target-actions">
            <button class="fab-button--mini replay-btn float-btn right target-action-show " data-height="450px">
                <div class="more-vert">...</div>
            </button>
        </div>
    </div>
    <textarea class="code__editor">
        <div class="target-big image-card" id="test_target">
            <div class="target-header" data-background="views/assets/img/HTML5.jpg">
                <span class="target-title">Target Example</span>
            </div>
            <div class="target-content-image">
                This site is in building
                <div class="preloader"></div>
            </div>
            <div class="target-border"></div>
            <div class="target-actions">
                <button class="fab-button--mini replay-btn float-btn right target-action-show " data-height="450px">
                    <div class="more-vert">...</div>
                </button>
            </div>
        </div>
    </textarea>
    <div class="target-border"></div>
    <span class="span-title">Middle Image Target</span>
    <div class="target-middle image-card" id="test_target">
        <div class="target-header" data-background="views/assets/img/HTML5.jpg">
            <span class="target-title">Target Example</span>
        </div>
        <div class="target-content-image">
            This site is in building
            <div class="preloader"></div>
        </div>
        <div class="target-border"></div>
        <div class="target-actions">
            <button class="fab-button--mini replay-btn float-btn right target-action-show " data-height="350px">
                <div class="more-vert">...</div>
            </button>
        </div>
    </div>
    <textarea class="code__editor">
        <div class="target-middle image-card" id="test_target">
            <div class="target-header" data-background="views/assets/img/HTML5.jpg">
                <span class="target-title">Target Example</span>
            </div>
            <div class="target-content-image">
                This site is in building
                <div class="preloader"></div>
            </div>
            <div class="target-border"></div>
            <div class="target-actions">
                <button class="fab-button--mini replay-btn float-btn right target-action-show " data-height="350px">
                    <div class="more-vert">...</div>
                </button>
            </div>
        </div>
    </textarea>
    <div class="target-border"></div>
    <span class="span-title">Small Image Target</span>
    <div class="target-small image-card " id="test_target">
        <div class="target-header" data-background="views/assets/img/HTML5.jpg">
            <span class="target-title">Target Example</span>
        </div>
        <div class="target-content-image">
            This site is in building
            <div class="preloader"></div>
        </div>
        <div class="target-border"></div>
        <div class="target-actions">
            <button class="fab-button--mini replay-btn float-btn right target-action-show " data-height="200px">
                <div class="more-vert">...</div>
            </button>
        </div>
    </div>
    <textarea class="code__editor">
        <div class="target-small image-card " id="test_target">
            <div class="target-header" data-background="views/assets/img/HTML5.jpg">
                <span class="target-title">Target Example</span>
            </div>
            <div class="target-content-image">
                This site is in building
                <div class="preloader"></div>
            </div>
            <div class="target-border"></div>
            <div class="target-actions">
                <button class="fab-button--mini replay-btn float-btn right target-action-show " data-height="200px">
                    <div class="more-vert">...</div>
                </button>
            </div>
        </div>
    </textarea>
    <div class="target-border"></div>
</section>
