<div class="target-big image-card" id="test_target">
    <div class="target-header" data-background="views/assets/img/HTML5.jpg">
        <span class="target-title">Target Example</span>
    </div>
    <div class="target-content">
        This site is in building
        <div class="preloader"></div>
    </div>
    <div class="target-border"></div>
    <div class="target-actions">
        <a href="#" class="action-btn replay-btn  info">more...</a>
        <a class="fab-button--mini replay-btn"><i class="more-icon">...</i></a>
    </div>
</div>
<div class="target-middle " id="test_target">
    <div class="target-header" data-background="views/assets/img/HTML5.jpg">
        <span class="target-title">Target Example</span>
    </div>
    <div class="target-content">
        This site is in building
        <div class="preloader"></div>
    </div>
    <div class="target-border"></div>
    <div class="target-actions">
        <a href="#" class="action-btn replay-btn  info">more...</a>
    </div>
</div>
<div class="target-middle " id="test_target">
    <div class="target-header" data-background="views/assets/img/HTML5.jpg">
        <span class="target-title">Target Example</span>
    </div>
    <div class="target-content">
        This site is in building
        <div class="preloader"></div>
    </div>
    <div class="target-border"></div>
    <div class="target-actions">
        <a href="#" class="action-btn replay-btn  info">more...</a>
    </div>
</div>
<div class="target-small " id="test_target">
    <div class="target-header" data-background="views/assets/img/HTML5.jpg">
        <span class="target-title">Target Example</span>
    </div>
    <div class="target-content">
        This site is in building
        <div class="preloader"></div>
    </div>
    <div class="target-border"></div>
    <div class="target-actions">
        <a href="#" class="action-btn replay-btn  info">more...</a>
    </div>
</div>