<section class="background-white">
    <span class="span-title">Expandable Input</span>
    <div class="searcher_container">
        <button class="btn-fab--mini btn-colored expandable-btn replay-btn search__icon" for="searcher" data-expandable="searcher"><i class="fa fa-search" aria-hidden="true"></i>
        </button>
        <label for="searcher" class="label__text hide">...</label>
        <input type="search" class="input_text searcher" id="searcher" placeholder="write something">
    </div>
    <textarea class="code__editor">
        <div class="searcher_container">
            <button class="btn-fab--mini btn-colored expandable-btn replay-btn search__icon" for="searcher" data-expandable="searcher"><i class="fa fa-search" aria-hidden="true"></i>
            </button>
            <input type="search" class="input_text searcher" id="searcher" placeholder="write something">
        </div>
    </textarea>
    <div class="target-border"></div>
    <span class="span-title">Regular Input</span>
    <div class="group-input">
        <input type="text" class="input_text" id="demo" placeholder="write something">
    </div>
    <textarea class="code__editor">
        <div class="group-input">
            <input type="text" class="input_text" id="demo" placeholder="write something">
        </div>
    </textarea>
    <div class="target-border"></div>
    <span class="span-title">Simple Textarea</span>
    <div class="group-input">
        <textarea class="input_text" placeholder="write something"></textarea>
    </div>
    <input class="code__editor" value='<div class="group-input"><textarea class="input_text" placeholder="write something"></textarea></div>' />
    <div class="target-border"></div>
    <span class="span-title">CheckBox</span>
    <div class="group-input">
        <label for="demo_check" class="label__check replay-btn"><i class="fa fa-check" aria-hidden="true"></i></label>
        <input type="checkbox" id="demo_check" class="input_check" checked="false" />
    </div>
    <textarea class="code__editor">
        <div class="group-input">
            <label for="demo_check" class="label__check replay-btn"><i class="fa fa-check" aria-hidden="true"></i></label>
            <input type="checkbox" id="demo_check" class="input_check" checked="false" />
        </div>
    </textarea>
    <div class="target-border"></div>
    <span class="span-title">Check Toggle</span>
    <div class="group-input">
    	<label for="demo_toggle" class="label__toggle replay-btn"><i class="toggle-icon"></i></label>
    	<input type="checkbox" id="demo_toggle" class="input_toggle"  />
    </div>
    <textarea class="code__editor">
    	<div class="group-input">
	    	<label for="demo_toggle" class="label__toggle replay-btn"><i class="toggle-icon"></i></label>
	    	<input type="checkbox" id="demo_toggle" class="input_toggle"  />
	    </div>
    </textarea>
</section>
