<section class="background-white">
    <span class="span-title">Simple Large Button</span>
    <button href="#" class="large-btn">i'm button</button>
    <button href="#" class="large-btn info">i'm button</button>
    <button href="#" class="large-btn warning">i'm button</button>
    <button href="#" class="large-btn error">i'm button</button>
    <button href="#" class="large-btn disabled " disabled>i'm button</button>
    <textarea class="code__editor">
        <button href="#" class="large-btn">i'm button</button>
        <button href="#" class="large-btn info">i'm button</button>
        <button href="#" class="large-btn warning">i'm button</button>
        <button href="#" class="large-btn error">i'm button</button>
        <button href="#" class="large-btn disabled " disabled>i'm button</button>
    </textarea>
    <span class="span-title">Ripple Large Button</span>
    <button href="#" class="large-btn replay-btn">i'm button</button>
    <button href="#" class="large-btn replay-btn info">i'm button</button>
    <button href="#" class="large-btn replay-btn warning">i'm button</button>
    <button href="#" class="large-btn replay-btn error">i'm button</button>
    <button href="#" class="large-btn replay-btn disabled " disabled>i'm button</button>
    <textarea class="code__editor">
        <button href="#" class="large-btn replay-btn">i'm button</button>
        <button href="#" class="large-btn replay-btn info">i'm button</button>
        <button href="#" class="large-btn replay-btn warning">i'm button</button>
        <button href="#" class="large-btn replay-btn error">i'm button</button>
        <button href="#" class="large-btn replay-btn disabled " disabled>i'm button</button>
    </textarea>
    <span class="span-title">Simple Small Button</span>
    <button href="#" class="small-btn">i'm button</button>
    <button href="#" class="small-btn info">i'm button</button>
    <button href="#" class="small-btn warning">i'm button</button>
    <button href="#" class="small-btn error">i'm button</button>
    <button href="#" class="small-btn disabled " disabled>i'm button</button>
    <textarea class="code__editor">
        <button href="#" class="small-btn">i'm button</button>
        <button href="#" class="small-btn info">i'm button</button>
        <button href="#" class="small-btn warning">i'm button</button>
        <button href="#" class="small-btn error">i'm button</button>
        <button href="#" class="small-btn disabled " disabled>i'm button</button>
    </textarea>
    <span class="span-title">Ripple Large Button</span>
    <button href="#" class="small-btn replay-btn">i'm button</button>
    <button href="#" class="small-btn replay-btn info">i'm button</button>
    <button href="#" class="small-btn replay-btn warning">i'm button</button>
    <button href="#" class="small-btn replay-btn error">i'm button</button>
    <button href="#" class="small-btn replay-btn disabled " disabled>i'm button</button>
    <textarea class="code__editor">
        <button href="#" class="small-btn replay-btn">i'm button</button>
        <button href="#" class="small-btn replay-btn info">i'm button</button>
        <button href="#" class="small-btn replay-btn warning">i'm button</button>
        <button href="#" class="small-btn replay-btn error">i'm button</button>
        <button href="#" class="small-btn replay-btn disabled " disabled>i'm button</button>
    </textarea>
</section>
