form{
	width: 100%;
}

form .form-input{
	width: 95%;
	margin: 0.5em 2.5%;

}

.form-input label{
	
	position: relative;
	top: 2em;
	display: block;
}
.form-input input,
.form-input textarea{
	width: 100%;
	padding: 0.5em 0;
	border: none;
	border-bottom: 1px solid #000000AA;
	
}

.form-input input:focus ,
.form-input textarea:focus {
	border-bottom: 1px solid #2396f3;
	outline: none !important;
	color: #2396f3;
}

.form-input:focus + label,
.form-input:focus + label{
	color: #2396f3;
	top: 0;
}